*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
     background-color: rgb(44, 62, 80);
}


.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
   background-color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    font-size: 20px;
    
}
ul{
    display: flex;
    
}
ul li{
    padding: 10px;
    list-style: none;
    color: aliceblue;
}
.login-register{
    margin-top: 20px;
    
}
.busqueda{
    display: flex;
    justify-content: center;

}
.busqueda input{
    padding: 5px;
    border: 1px solid;
}
.busqueda button{
    padding: 5px 10px;
    border: none;
    background-color: darkblue;
    color: white;
}

.texto-categorias{
    font-size: 20px;
   color: rgb(15, 25, 50);
    
    font-weight: bold;
    
}
.categoriash3{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin: 20px;
    height: 40px;
    width: 180px;
    background-color: rgb(230, 236, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.lateral{
    background-color: rgb(245, 240, 230);
    width: 180px;
    height: 200px;
    margin-left: 20px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.formulario{
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form-group{
  margin-bottom: 15px;
}
label{
  margin-bottom: 6px;
  font-weight: bold;
}

.form-buttons{
  display: flex;
  justify-content: space-between;
}

button{
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
  font-size: 14px;
}

.reset{
  background: #999;
}
.cuenta{
    margin-top: 15px; 
    text-align:center; 
    font-size: 14px;
}


.h1category{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.contenedor-category{
    display: flex;
    flex-wrap: wrap;
    
}

.cajas{
    padding: 30px;
    width: 32.5%;

    margin-top: 60px;
   

}
.imgcategory{
    width: 100%;
    height: auto;
}

.botinesh3{
   color: rgb(248,250,252);
    font-size: 25px;
}

.mas{
    background-color: rgb(30, 136, 229);
    width: 100px;
    height: 60px;
}
.mas p{
     color: white;
    text-align:center;
    padding: 8px 0px;
}